In [2]:
import pandas as pd

In [24]:
#Test
df = pd.DataFrame(data={'Item':['A','B','C','D'], 
                        'StartDate':['2018-01-01','2018-01-07', '2017-12-30','2018-01-03'],
                        'EndDate': ['2018-01-04','2018-01-08','2018-01-05','2018-01-05'],
                        'RandomStuff':['sdfe','adfe','dafsdfew','fjt'],
                        'CT':[12,14,21,12]},
                 )
df['StartDate'] = pd.to_datetime(df['StartDate'])
df['EndDate'] = pd.to_datetime(df['EndDate'])
df['dayDiff'] = df.apply(lambda avg: avg['CT']/((avg['EndDate']-avg['StartDate']).days +1),axis=1)
print(df)

  Item  StartDate    EndDate RandomStuff  CT  dayDiff
0    A 2018-01-01 2018-01-04        sdfe  12      3.0
1    B 2018-01-07 2018-01-08        adfe  14      7.0
2    C 2017-12-30 2018-01-05    dafsdfew  21      3.0
3    D 2018-01-03 2018-01-05         fjt  12      4.0

In [30]:
all_item = list(set(df['Item']))

In [43]:


index = pd.MultiIndex.from_product([all_item,pd.date_range(start = df.StartDate.min(), end = df.EndDate.max())], names=['Item', 'date'])
new_df = pd.DataFrame(index = index, data = {'counts':0})

dates_list = new_df.index.get_level_values(1)
items_list = new_df.index.get_level_values(0)

for row in df.itertuples():
    new_df.counts[(items_list == row.Item) & (dates_list>=row.StartDate) & (dates_list<= row.EndDate)] += row[6]

# to remove 0 if needed
new_df = new_df[(new_df.counts != 0)]

new_df.reset_index(inplace=True)
print(new_df.head())

  Item       date  counts
0    C 2017-12-30       3
1    C 2017-12-31       3
2    C 2018-01-01       3
3    C 2018-01-02       3
4    C 2018-01-03       3

In [45]:
new_df = pd.merge(new_df, df, how='inner', on='Item')
new_df

   Item       date  counts  StartDate    EndDate RandomStuff  CT  dayDiff
0     C 2017-12-30       3 2017-12-30 2018-01-05    dafsdfew  21      3.0
1     C 2017-12-31       3 2017-12-30 2018-01-05    dafsdfew  21      3.0
2     C 2018-01-01       3 2017-12-30 2018-01-05    dafsdfew  21      3.0
3     C 2018-01-02       3 2017-12-30 2018-01-05    dafsdfew  21      3.0
4     C 2018-01-03       3 2017-12-30 2018-01-05    dafsdfew  21      3.0
5     C 2018-01-04       3 2017-12-30 2018-01-05    dafsdfew  21      3.0
6     C 2018-01-05       3 2017-12-30 2018-01-05    dafsdfew  21      3.0
7     A 2018-01-01       3 2018-01-01 2018-01-04        sdfe  12      3.0
8     A 2018-01-02       3 2018-01-01 2018-01-04        sdfe  12      3.0
9     A 2018-01-03       3 2018-01-01 2018-01-04        sdfe  12      3.0
10    A 2018-01-04       3 2018-01-01 2018-01-04        sdfe  12      3.0
11    D 2018-01-03       4 2018-01-03 2018-01-05         fjt  12      4.0
12    D 2018-01-04       4 2018-01-03 2018-01-05         fjt  12      4.0
13    D 2018-01-05       4 2018-01-03 2018-01-05         fjt  12      4.0
14    B 2018-01-07       7 2018-01-07 2018-01-08        adfe  14      7.0
15    B 2018-01-08       7 2018-01-07 2018-01-08        adfe  14      7.0